/* general text formatting */
h1, h2, h3, nav, footer {
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 100%;
   background-color: #E8EAF6;
}

/* header and footer */
header, footer {
   color: white;
   background-color: #1A237E;
   margin: 0em 4em 0.25em 4em;
}

header{
   position: sticky;
   top: 0;
   z-index: 4;
}
header h1 { 
   padding: 0.5rem 0 0 1.25rem;
   font-size: 2rem;
   font-weight: bold;
}
header p { 
   font-size: 1rem;
   font-style: italic;
   margin-bottom: 1rem;
   padding: 0 0 0 1.25rem;
}

/* main article styling */
main {
   background-color: white;
   margin: 0% 15%;
   margin: 0em 4em 0.25em 15em;
   padding: 1em;

}

section {
   margin-bottom: 1em;
   padding: 0;
   width: 100%;
}

legend { 
   font-size: 1.35rem;
   background-color: #7986CB;
   height: 1.70rem;
   color: #E8EAF6;
   text-transform: uppercase;
   width: 100%;
   margin-top: 0px;
   padding: 5px 0;
}
legend p{
   display: inline;
   padding: 0px 0px 0px 5px;
}

fieldset {
   margin: 0;
   padding: 0;
   background-color: #C5CAE9;
   width: 100%;
   border: none;
}
form p{
   margin-top: 0.5em;
   margin-left: 1em;
   padding: 0px 0px 0px 5px;
}
form input, select{
   margin: 5px;
   height: 2em;
   border: 1px lightslategray solid;
   border-radius: 8px;
}
form input[type='submit'], input[type='reset']{
   margin: 10px 10px 10px 20px; /*  and some 50's */
   font-size: medium;
   text-transform: capitalize;
   height: 2em;
   border: 1px lightslategray solid;
   border-radius: 8px;
}

section h2{
   font-size: 1.35rem;
   background-color: #545e90;
   height: 1.70rem;
   color: #E8EAF6;
   border: solid 1px black;
   text-transform: uppercase;
   width: 100%;
   margin-bottom: 5px;
   padding: 5px 0;
}

label img{
   margin: 1em 0em;
   vertical-align: middle;
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

table{
   border-spacing: 0;
   position: relative;
   width: 100%;
}

.post{
   border: gray 2px solid;
   margin: 1em 0;
   padding: 1em;
   color: #545e90;
}

.post h1{
   font-size: 1.2em;
   color: #1A237E;
}

#new_post_input{
   resize: vertical;
   display: block;
   margin: 1em 2em;
   border: #545e90 2px solid;
   box-shadow: 2px 2px 3px #0071a5, -2px -2px 3px #0071a5;
}

.navbar{
   background-color: whitesmoke;
   position: fixed;
   height: 100%;
   width: auto;
   overflow: auto;
   margin: 0 0 0 4em;
}

.navbar>li>a{
   padding: 1em 2em;
   display: block;
   width: 100%;
   text-decoration: none;
}

.navbar>li>a:hover{
   background-color: #545e90;
}

.buttons{
   display: block;
   margin: auto;
}

.error-message{
   width: 100%;
   font-size: .7em;
   color: red;
}

.profile-rows{
   display: inline-flex;
}

.no-show{
   display: none;
}

.center{
   display: block;
   margin: auto;
   text-align: center;
}

#login-container{
   display: block;
   margin: auto;
   padding: 0;
}

#login-heading{
   font-size: 1.7em;
   margin-bottom: 1rem;
   font-weight: normal;
   width: fit-content;
}

#login-form p{
   padding: 0;
}

#login-form input{
   display: block;
   margin-left: 1em;
   height: 2em;
   width: 80%;
   max-width: 15rem;
   border: 1px lightslategray solid;
   border-radius: 8px;
}

#login-form-container{
   width: 30%;
}

#submit-login{
   background-color: #545e90;
   color: #E8EAF6;
}