body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /* border: 3px; */
    padding-top: 1px;
    padding-bottom: 10px;
    background-color: #303030;
    color: whitesmoke;
    text-align: center;
    width: 100%;
}

h1{
    font-size: 225%;
    color: darkgreen;

}

p{
    text-align: justify;
}

footer{
    text-align: center;
    font-size: small;
}

#top_nav>nav{
    display:block;
	width: 100%;
    /* border: 7px solid #ff0000; */
	border: 2px solid #e7e7e7;
	background-color: #f3f3f3;
	text-align: center;
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

#top_nav>nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#top_nav>nav>ul>li{
    float: left;
}

#top_nav>nav>ul>li a{
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#top_nav>nav>ul>li a:active{
    color: whitesmoke;
	background-color: darkgreen;
}

#top_nav>nav>ul>li a:hover:not(.active) {
	background-color: #ccc;
}

#bottom_line{
    margin: 3px;
    border: 2px solid #333;
    border-radius: 10px;
}

.page-title{
    font-size: 350%;
    color: whitesmoke;
}

.content{
    display: flexbox;
    border: #303030 solid 2px;
    margin: 0px 10px 0px 10px;
    padding: 2%;
}

.xbox-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.nav-logo{
    height: 14px;
}